body {
    background-color: lightblue;
}
.title{
  text-align: center;
  font-size: 800%;
  font-family: 'Luckiest Guy', cursive;
 }
h1 {
  font-family: Charmonman
}
h2{
  font-family: cursive;
}
p {
  font-family: time new roman;
 
}
.nav{
  background-color: Coral;
  height:50px;
  position: fixed; 
  margin: 0% 70% 0% 70%;
  top: 0; 
  width:30%;
  z-index: 4;
}
.nav li{
  display: inline-block;
}
.nav ul{
  margin: 0px;
  text-align: center;
}
.nav a{
  font-family: 'Bangers', cursive;
  display: block;  
  color: black;
  text-align: center; 
  padding: 10px 20px;
  font-size: 180%;
}
h2{
  color: blue;
  text-transform: uppercase;
  background-color: #4ea1d3;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.section{
  background: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 90%;
  margin: 30px auto;
  float: none;
}
.section h2{
  color: blue;
  text-transform: uppercase;
  background-color: #4ea1d3;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
#location {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#map {
  height: 300px;
  width: 100%;
  font-size: 25px;
  text-align: center;
}
.slideshow {
  width: 100%;
  margin: 10px auto;
  vertical-align: middle;
}
